.about{
    padding: 10rem;
    background: rgb(46, 45, 45);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{

    text-align: center;
    margin:auto ;
    padding: 1rem;
    max-width: 600px;

}

.about .left h1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

}

.about .left p{
    margin: 1.2rem 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.about.right {
    max-width: 700px;
}

.right .img-container{
    text-align: center;
    align-items: center;
    position: relative;
}

.right .img{
    max-width: 90%;
    border: 1px solid ;
}